.login {
  text-align: center;
  width: 50%;
  height: 300px;
  background-color: #d8d8d8;
  border-radius: 10px;
  margin: auto;
}
.authArea {
  width: 350px;
  flex-direction: column;
  margin: auto;
  padding: 6px;
}
.errArea {
  height: 20px;
  font-size: small;
  margin-left: 0px;
}
.loginArea {
  display: flex;
  flex-direction: column;
  padding: 2px;
  padding-left: 86px;
}
.inputLabel {
  /* padding-left: 36%; */
  text-align: left;
  font-size: 14px;
  width: 100px;
  margin-bottom: 4px;
}
.passArea {
  display: flex;
  flex-direction: column;
  padding: 2px;
  padding-left: 86px;
}
.loginBtn {
  width: 177px;
  margin: auto;
}
